[submodule "code/enhanced-pet-clinic"]
	path = code/enhanced-pet-clinic
	url = https://github.com/jugsaar/enhanced-pet-clinic
[submodule "code/spring-boot-4tw-uni"]
	path = code/spring-boot-4tw-uni
	url = https://github.com/jugsaar/spring-boot-4tw-uni.git
[submodule "code/twelvefactorapp"]
	path = code/twelvefactorapp
	url = https://github.com/jugsaar/twelvefactorapp
[submodule "code/spring-music"]
	path = code/spring-music
	url = https://github.com/thomasdarimont/spring-music
